@import url("/css/stars.css");
@import url("/css/style.css");  

.hero {
    overflow: hidden;
}

.bio {
    display: inline;
    background-color: #000;
    width: 90%;
    max-width: 60rem;
    height: auto;
    position: absolute;
    margin-left: 5%;
    padding: 2rem;
    z-index: 1;
}

.waves img {
    z-index: 0;
}

section.hero p {
    line-height: 1.6;
}

.earth img {
    width: 30rem;
    position: relative;
    float: right;
    right: 15rem;
    top: 5rem;
}



.footer {
    border: none;
}

.waves {
    z-index: 2;
}

.bio h1, p {
    text-align: left;
}

