/*Color: #50E298*/

@import url("/css/stars.css");

* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

h1, h3 {
    font-weight: 600;
}

body {
    background-color: black;
    line-height: 1.5;
    overflow-x: hidden;
    font-family: "Montserrat", "Gotham", sans-serif;
}

.design-deliverables {
    padding-bottom: 50px;
}

.container {
    background-color: transparent;
    margin: 0 auto;
    width: 100%;
}

#summary h1 {
    padding-bottom: 2rem;
}

#summary h3 {
    padding-bottom: 0.4rem;
}

.casestudytop {
    width: 100%;
    float: left;
}

#summary {
    width: 75%;
    margin: 0 auto;
    text-align: left;
    color: #fff;
    padding-bottom: 3rem;
    font-size: 12px;
}

.btns a:visited {
    color: #fff;
    text-decoration: none;
}

.btns a:link {
    color: #fff;
    text-decoration: none;
}

.btn-ios {
    background: #50E298;
    display: inline-block;
    color: #50E298;
    margin-left: 12.5%;
}

ul img {
    height: 50px;
    margin-bottom: 2rem;
    margin-top: 5rem;
}

ul li {
    padding-bottom: 0.5rem;
}

.cs-start ul {
    float: left;
    width: 31.3%;
    margin: 0 auto;
    text-align: center;
    list-style: none;
    color: white;
    margin: 1%;
}


.btn-desk {
    border: 1px solid #50E298;
    margin: 0 auto;
}

.btn-desk {
    border-radius: 20px;
    width: 35%;
    height: 4rem;
    text-align: center;
    padding-top: 9px;
    font-size: 16px;
    line-height: initial;
}

.btn-ios {
    border-radius: 20px;
    width: 35%;
    height: 4rem;
    text-align: center;
    padding-top: 10px;
    font-size: 16px;
    line-height: initial;
}

.btn-ios:hover {
    background: transparent;
    color: #fff;
    border: 1px solid #50E298;
    transition: .5s;
    padding-top: 9px;
}

.btn-view {
background-color: #50E298;
border: 1px solid #000;
border-radius: 20px;
width: 60%;
height: 4rem;
line-height: 1.2;
text-align: center;
padding-top: 10px;
font-size: 16px;
margin: 0 auto;
}

.problem a {
    text-decoration: none;
    color: #000;
}

.solution a {
    text-decoration: none;
    color: #000;
}


.problem a:visited {
    color: black;
}

.solution a:visited {
    color: black;
}



.sketch-img-ios {
    background: url(/img/sketch-gamez.png);
    width: 90%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 32vh;
    margin: 0 auto;
}

.lowfi-ios {
    background: url(/img/landing-gamez.png);
    width: 90%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 35vh;
    margin: 0 auto;
}

.logoideation {
    background: url(/img/logo-sketches.png);
    width: 90%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 55vh;
    margin: 0 auto;
}

.lowfi {
    padding-top: 5rem;
    display: flex;
    align-items: center;
    width: 100%;
    height: 80rem;
}

.lowfi div {
    width: 5%;
}

#low-left {
    background: url(/img/user-about-gamez.png);
    width: 47.5%;
    height: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
}

#low-right {
    background: url(/img/add-friends-gamez.png);
    width: 47.5%;
    height: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
}

#list-align {
    padding-top: 15rem;
}

.btn-view:hover {
background: transparent;
color: #000;
border: 1px solid #50E298;
transition: .5s;
}

.btn-desk:hover {
    background: #50E298;
    color: #000;
    transition: .5s;
}

#summary h3 {
    font-size: 2.2rem;
}

.text {
    padding-top: 5rem;
    width: 100%;
    color: #fff;
    margin: 0 auto;
    padding-bottom: 9rem;
}

#summary h1, h3 {
    text-align: center;
}

#summary h1 {
    font-size: 3.2rem;
}

#summary p {
    font-size: 1.7rem;
    line-height: 1.5;
}

.cs-start img {
    width: 5rem;
}

.cs-start div {
    width: 100%;
    margin: 0 auto;
    display: inline;
}

.overview img {
    width: 100%;
    height: 5rem;
}

.cs-main-body {
    padding-top: 2rem;

}

.cs-main-body {
    height: 8000px;
}

.start-poly img {
    width: 100%;
    height: 8rem;
    display: flex;
}

.design-process img {
    width: 100%;
    height: 5rem;
    display: block;
    position: relative;
    float: left;
    position: flex;
    margin-top: 5rem;
    z-index: 1;
}

.backtotop-btn img {
    width: 100%;
    height: 5rem;
    display: block;
    position: relative;
    float: left;
    position: flex;
    margin-top: 5rem;
    z-index: 1;
    transform-origin: 50% 50%;
    margin-bottom: 7rem;
}

.backtotop-btn img:hover {
    transform: scale(0.97);
}

.no-li {
    list-style: none;
    font-weight: 600;
    font-size: 1.8rem;
  }

  .summary-end-text ul span {
      font-weight: 600;
  }

.summary-end-text ul li {
    list-style: none;
}

.summary-end h1 {
    font-size: 24px;
}

.summary-end p {
    font-size: 1.6rem;
}

.problem-solution-poly img {
    width: 100%;
    height: 5rem;
    display: block;
    float: left;
    position: absolute;
    z-index: 1;
    margin-top: 7rem;
}

.survey-target img {
    height: 5.5rem;
    width: 5%;
    display: block;
    position: relative;
    float: left;
    margin-top: 7rem;
    z-index: 1;
}

.wireframe-examples img {

    height: 5.5rem;
    width: 5%;
    display: block;
    position: relative;
    float: left;
    margin-top: 2rem;
    z-index: 1;
}

/*
.polygon-overview {
    background-color: red;
    width: 100px;
    height: 50px;
    background: #4D1F8C;
    -webkit-clip-path: polygon(75% 25%, 100% 50%, 75% 75%, 25% 75%, 0 50%, 25% 25%);
    clip-path: polygon(75% 25%, 100% 50%, 75% 75%, 25% 75%, 0 50%, 25% 25%);
}

.polygon-overview {
    padding-top: 2rem;
    width: 100px;
}
div.polygon-overview {
    margin: 0 auto;
}

.polygon-overview h3 {
    text-align: center;
    padding-top: 20px;
    font-weight: 600;
}
*/

.problem-left, .usersurvey-left, .competitive, .design-updates{
    background-color:	#F8F8F8;
    width: 46%;
    margin-left: 1.5%;
    position: relative;
    margin-top: 5rem;
    float: left;
}

.design-updates {
width: 40.5%;
margin-left: 7%;
}

.competitive {
    margin-top: 0;
}

.userpersonas-left, .userstories-left {
    background-color:	#F8F8F8;
    width: 46%;
    margin-left: 1.5%;
    position: relative;
    margin-top: 5rem;
    float: left;
}

.userstories-left {
width: 35%;
margin-left: 12.5%;
}

.wireframesketches-left {
    background-color:	#F8F8F8;
    width: 46%;
    margin-left: 1.5%;
    position: relative;
    float: left;
}

.user-person {
    display: inline-block;
}

.userpersonas-left .goals, .frustrations {
    font-weight: 600;
    width: 48.5%;
    float: left;
    height: 19rem;
}

#user-list {
    height: auto;
    display: inline-block;
}

.persona-lists {
    width: 100%;
    height: 100%;
}

.view-bio {
    text-align: left;
    display: block;
    width: 100%;
}

.view-bio a {
    font-size: 2rem;
    color: black;
}

.userpersonas2-right .frustrations h3 {
    padding-top: 50px;
    padding-bottom: 3rem;
}

.userpersonas2-right .goals, .frustrations{
    font-weight: 600;
    width: 50%;
    float: left;
}

#quote {
    width: 80%;
    height: auto;
    margin: 0 auto;
    padding: 20px;
    padding-bottom: 3rem;
    position: relative;
    font-family: serif;
    font-style: oblique;
    font-size: 24px;
}

#quote p {
    float: center;
}

.goals .bold-li {
    font-weight: 600;
}

.frustrations .bold-li {
    font-weight: 600;
}

.goals li {
    font-weight: 100;
   /* padding-top: 5px; */
}

.frustrations li {
   /* padding-top: 5px;*/
    font-weight: 100;
}

.user-city {
    width: 100%;
}

.user {
    width: 100%;
}

.user-img {
    display: inline-block;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;
}

div .user-img {
    margin: 0 auto;
}

.user-main {
    padding-bottom: 1rem;
}

.user-img img {
    width: 150px;
    height: 100px;
    margin-left: -5px;
    margin-top: -5px;
    height: 115%;
    width: 115%;
}

#user-info {
    padding-top: 0;
}

.logo-image-container {
    height: 30vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.logo-img-1 {
    background-image: url(/img/logo-1.png);
    width: 49%;
    margin-right: 1%;
    height: 100%;
    display: inline-block;
    float: left;
    position: relative;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    padding-right: 1rem;
}
.logo-img-2 {
    background-image: url(/svgs/logo-2.svg);
    width: 49%;
    height: 100%;
    display: inline-block;
    float: right;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 1%;
}

.user-info {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 2rem;
}


.user-info h1 {
    padding-bottom: 1.3rem;
}

.user-city {
   padding-top: -5px;
}

.user-city p {
    float: right;
    width: 0;
    display: inline;
    align-items: left;
    position: relative;
}

.user-city img {
    padding-right: 10px;
    display: inline;
    position: relative;
    vertical-align: middle;
}

.competitive-wide, .designupdates-wide {
    margin-top: 5rem;
    width: 100%;
    position: relative;
    display: inline-block;
    float: left;
}



.designupdates-wide h3 {
    padding-bottom: 1rem;
}


.full {
    width: 100%;
    position: relative;
    float: left;
    margin-top: 5rem;
}

.half {
    padding-left: 10%;
    width: 40%;
    float: left;
}

.half2 {
    padding-right: 10%;
    width: 40%;
    float: right;
}

.half2 h3{
    width: 80%;
    font-size: 18px;
    text-align: left;
    margin: 0 auto;
    font-weight: 600;
    color: white;
}

.magnify {
    margin-top: 5rem;
    background-color: #F8F8F8;
    width: 100%;
    display: inline-block;
    position: relative;
    float: left;
}

.summary-end{
    margin-top: 5rem;
    margin-left: 10%;
    width: 90%;
    background-color: #F8F8F8;
height: auto;
position: relative;
display: inline-block;
float: left;
z-index: 1;
}

.summary-end ul {
    padding-bottom: 0;
}

.summary-end-text {
    width: 90%;
    height: auto;
    margin: 0 auto;
    padding: 2rem;
    text-align: left;
}

.magnify-text {
    width: 49%;
    height: auto;
    padding: 2rem;
    display: inline-block;
    text-align: left;
}

.magnify-text h3, h1 {
    font-weight: 600;
}

.magnify-text h3 {
    text-align: left;
}

.magnify-text h1 {
    font-size: 24px;
    padding-top: 2px;
}

.magnify-text h3 {
    font-size:17px;
}

.magnify-text p {
    font-size:16px;
    padding-top: 5px;
}

.chart3-text {
    padding-top: 2rem;
}

.mag-icons {
    float: right;
    display: inline-block;
    width: 50%;
}

.dashed {
    border-right: 4px #000 dashed;
    margin-left: 0.2%;
    height: 100%;
    width: 1%;
    display: inline-block;
    position: absolute;
}

.competitor-img {
    margin-top: 5rem;
    margin-right: 2.5%;
    width: 47.5%;
    display: inline-block;
    float: right;
}

.designchanges-img {
    margin-top: 5rem;
    margin-right: 2.5%;
    margin: 0 auto;
    width: 47.5%;
    display: inline-block;
    float: right;
}

.designchanges-img img {
    width: 62.5%;
    align-items: middle;
    padding: 50px 0;
    display: block;
    margin: 0 auto;
}

.designupdates-wide {
    margin-top: 0;
}

#designchanges2 {
    display: inline-block;
    width: 100%;
}

.competitor-img img {
    width: 30rem;
    padding: 40px 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.mag-icons img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 40px 0;
    width: 20rem;
}

.chart-section1, .chart-section2 {
    width: 100%;
}

.half h3 {
    width: 80%;
    font-size: 18px;
    text-align: left;
    margin: 0 auto;
    font-weight: 600;
    color: white;
}

.h1-text {
    padding-top: 3rem;
    width: 100%;
    display: inline-block;
}

.h1-text h1 {
    float: left;
    width: 100%;
    text-align: center;
}

/*
.h1-shape-left {
    background-color: #50E298;
    float: left;
    -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    width: 2.6rem;
    height: 2.6rem;
    display: inline-block;
}
*/

.cut-poly-left {
    background-color: black;
    position: absolute;
    transform: translateX(71%);
    right: 0;
    top: 20px;
    width: 5rem;
    height: 5rem;
    -webkit-clip-path: polygon(0 30%, 30% 0, 30% 100%, 0 70%);
    clip-path: polygon(0 30%, 30% 0, 30% 100%, 0 70%);
}

.problem .problem-body {
    padding: 2rem 2rem 3rem;
}

.bold-li {
    list-style: none;
    font-weight: 600;
}

.ln-problem-left {
    background-color: #000;
    width: 500px;
    height: 5rem;
    margin: 0 auto;
}

.problem p {
    font-size: 1.6rem;
    padding-bottom: 1.5rem;
}

.problem h1 {
    font-size: 2.4rem;
}

.problem h3 {
    font-size: 1.8rem;
    text-align: left;
}

/*Right Side*/

.cut-poly-right {
    background-color: black;
    position: absolute;
    transform: translateX(-31%);
    left: 0;
    top: 20px;
    width: 5rem;
    height: 5rem;
    -webkit-clip-path: polygon(60% 30%, 30% 0, 30% 100%, 60% 70%);
    clip-path: polygon(60% 30%, 30% 0, 30% 100%, 60% 70%);
}

ul {
    list-style-type: disc;
    font-size: 1.6rem;
    padding-bottom: 1.5rem;
  }

.solution-body ul, .magnify-text ul, .problem-body ul {
        padding-left: 2rem;
}


.h1-shape-right {
    background-color: #50E298;
    float: left;
    -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    width: 2.6rem;
    height: 2.6rem;
    display: inline-block;
}

.solution-right, .targetaudience-right, .userpersonas2-right{
    margin-top: 5rem;
    background-color: #F8F8F8;
    width: 46%;
    margin-right: 1.5%;
    position: relative;
    float: right;
    overflow: hidden;
}

.userflows-right {
    margin-top: 5rem;
    background-color:#F8F8F8;
    width: 35%;
    margin-right: 12.5%;
    position: relative;
    float: right;
}


.lowfi-right {
    width: 47.5%;
    position: relative;
    float: right;
}

#back-to-top img {
    margin-bottom: 8rem;
}

.logoideation-right {
    width: 47.5%;
    position: relative;
    float: right;
}

.userstories-left .h1-text {
    padding-bottom: 3rem;
}

.user-flow-map {
    margin-top: 5rem;
    width: 75%;
    margin-left: 12.5%;
    background-color:#F8F8F8;
    height: auto;
    position: relative;
    display: inline-block;
    float: left;
    z-index: 1;
}

.user-flow-map img{
    width: 90%;
    padding: 4rem;
    margin: 0 auto;
    position: relative;
    max-width: 90rem;
    margin: auto;
    display: block;
}

.user-flow-map h1{
    font-size: 21px;
    text-align: center;
    padding-top: 20px;
    margin-left: 5%;
}

.user-flow-map p{
    max-width: 80rem;
    margin: auto;
    font-size: 16px;
    width: 100%;
    padding: 10px;
    text-align: center;
}

.user-flow-map h3 {
    font-size: 17px;
}

.userflows-right .h1-text {
    padding-bottom: 3rem;
}

.view-stories-btn, .view-flows-btn {
    padding-bottom: 2rem;
    margin: 0 auto;
}

.targetaudience-right img {
    height: auto;
    width: 7rem;
    display: block;
    position: relative;
    margin: 0 auto;
}

.solution .solution-body {
    padding: 2rem 2rem 3rem;
}

.ln-solution-right {
    background-color: #000;
    width: 500px;
    height: 5rem;
    margin: 0 auto;
}

.solution p {
    font-size: 1.6rem;
    padding-bottom: 1.5rem;

}

.solution h1 {
    font-size: 2.4rem;
   /*
    -webkit-text-stroke-width: 2px;
    */
    -webkit-text-stroke-color: black;
}

.solution h3 {
    font-size: 1.8rem;
    text-align: left;
    /*-webkit-text-stroke-width: 1px; */
    -webkit-text-stroke-color: black;
}


/*Line*/

#sticky {
    position: sticky;
    position: -webkit-sticky;
    background: #50E298;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-left: -8.75px;
    top: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 6px #000;
  }

  #line {
    width: 3px;
    margin: auto;
    background-color: #ccc;
    height: 8700px;
  }

  .line {
      width: 5%;
  }



.slider {
  /* line them up horizontally */
  padding-top: 5rem;
  display: flex;
  position: relative;
  float: left;
  width: 100%;
  z-index: 1;
  background-color: #000;

  /* allow for scrolling */
  overflow-x: auto;

  /* make it smooth on iOS */
  -webkit-overflow-scrolling: touch;
}
.slider > div {
  /* make sure the width is honored */
  flex-shrink: 0;
  width: 300px;
  height: 600px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.slider {
  /* ... */
  /* each slide snaps into place */
  scroll-snap-points-x: repeat(300px);
  scroll-snap-type: mandatory;
}


.slider #slide1 {
    background-image: url(/img/1-Loading\ Screen.png);
}

.slider #slide2 {
    background-image: url(/img/2-Log\ In.png);
}
.slider #slide3 {
    background-image: url(/img/8-Empty\ Dashboard.png);
}
.slider #slide4 {
    background-image: url(/img/11-Create:\ File\ Types.png);
}
.slider #slide5 {
    background-image: url(/img/12-Untitled\ Document.png);
}
.slider #slide6 {
    background-image: url(/img/13-Settings.png);
}
.slider #slide7 {
    background-image: url(/img/14-Public\ Account\ Empty.png);
}
.slider #slide8 {
    background-image: url(/img/17-Public\ Account\ Filled.png);
}
.slider #slide9 {
    background-image: url(/img/22-SEARCH\ BY\ PHONE\ NUMBER.png);
}
.slider #slide10 {
    background-image: url(/img/25-JOINED\ TEAM.png);
}
.slider #slide11 {
    background-image: url(/img/26-Versioning.png);
}
.slider #slide12 {
    background-image: url(/img/28-People.png);
}
.slider #slide13 {
    background-image: url(/img/29-Sisters\ Share.png);
}
.slider #slide14 {
    background-image: url(/img/31-Storage\ with\ Files\ from\ Phone.png);
}
.slider #slide15 {
    background-image: url(/img/36-Create\ a\ folder\ added\ files.png);
}

@media screen and (min-width: 800px) {
#summary {
    width: 70rem;
}

.btn-ios {
    margin-left: 22.5%;
    width: 25%;
}

.btn-desk {
    margin: 0 auto;
    width: 25%;
}
}

@media screen and (max-width: 500px) {
    .design-process  {
        padding-left: 4rem;
    }
}


  @media screen and ( max-width: 600px) {

     .half2 {
        width: 90%;
    float: right;
    padding-right: 3rem;
    }

    .half {
        width: 100%;
    float: none;
    padding-right: 3rem;
    }

    .userflows-right {
        margin-top: 5rem;
        background-color: #F8F8F8;
        width: 35%;
        margin-right: 0%;
        position: relative;
        float: right;
        }


    .low-left {
        display: inline;
        width: 90%;
        float: right;
    }

    .magnify {
        width: 90%;
        float: right;
    }

    .dashed {
        display: none;
    }

    .magnify-text {
        width: 100%;
    }

    .mag-icons {
        display: block;
        width: 100%;
    }

    .mag-icons img {
        padding-top: 0;
    }

    .competitor-img {
        width: 100%;
        margin-right: 0;
    }

    .userpersonas-left, .userpersonas2-right {
        width: 90%;
        float: right;
        margin-right: 0;
    }

    .wireframesketches-left {
        width: 100%;
    }

    .userstories-left, .userflows-right {
        width: 90%;
    }

    .wireframesketches-left {
        width: 90%;
        float: right;
    }

    .lowfi {
        width: 90%;
        float: right;
        margin-top: -200px;
    }

    .logoideation-right {
        padding-top: 3rem;
    width: 90%;
    position: relative;
    float: right;
    }

    .designchanges-img img {
        width: 189.5%;
        float: right;
        padding-top: 3rem
    }

    #line {
        height: 15000px;
    }


    .design-updates {
        width: 90%;
        float: right;
        margin-top: -200px;
    }

    .userstories-left {
        margin-left: 10%;
    }

    .user-flow-map {
        width: 90%;
        float: right;
    }

    .user-flow-map h3 {
        text-align: center;
    }

    .competitive-wide {
        float: right;
    }

    .lowfi-right{
        padding-top: 3rem;
        width: 90%;
        float: right;
    }

    .wireframe-examples {
        display: none;
    }

    .user-main {
        float: none;
    }

    div .user-img {
        float: none;
    }

    .btn-ios {
        margin-left: 7.5%;
        width: 40%;
    }

    .btn-desk {
        margin: 0 auto;
        width: 40%;
    }

    .start-poly img {
        width: 80%;
        margin: 0 auto;
    }

    .line {
        float: left;
        width: 10%;
        position: absolute;
    }

    #line {
        margin-left: 5%;
    }

    .problem-solution-poly {
        display: none;
    }

    .problem, .solution {
        width: 100%;
    }

    .problem-left, .usersurvey-left, .competitive {
        background-color:#F8F8F8;
        width: 90%;
        float: right;
    }

  h3 {
        text-align: center;
    }

    .competitive {
        display: inline-block;
    }


    .cut-poly-left, .cut-poly-right, .survey-target {
        display: none;
    }

    .solution-right, .targetaudience-right {
        background-color:#F8F8F8;
        width: 90%;
        position: initial;
        margin-right: 0;
    }

    .design-process  {
        padding-left: 5rem;
    }

    .h1-shape-left, .h1-shape-right {
        position: absolute;
        margin-left: 0rem;
    }
    .solution {
        float: left;
    }
    /*Hides Overflow on mobile - stops sticky*/
    .container {
        overflow-x: hidden;
    }
  }

  @media only screen and (min-width : 150px) and (max-width : 4780px) {

    .main-nav li ul {
        position: relative;
        display: none;
        left: 0rem;
        top: 1rem;
        display:block;
        width: 23rem;
        margin: 0 auto;
        background-color: #50E298;
    }

    .main-nav i:hover {
        color: #50E298;
        transition: 0.4s;
    }

    .main-nav li ul a {
        color: black;
        text-align: center;
        padding: 10px;
    }

    .main-nav li ul li a:hover {
        color: #fff;
    }

    .main-nav li ul li {
        width:23rem;
        float:none;
        display:list-item;
        position: relative;
    }

    .main-nav li ul:hover > li {
        display:inherit;
    }

    .main-nav li {
        padding: 0;
        margin: 0;
        list-style: none;
        position: relative;
        }

    .main-nav li:hover ul {
        display:block;
        width: 23rem;
        margin: 0 auto;
        background-color: #50E298;
        }

    .navbar li ul li {
        padding-top: 0px;
        }

    .navbar li ul li:hover {
        background: black;
        color: rgb(0, 0, 0);
        border: 0.05px solid #50E298;
        transition: .5s;
    }

    .navbar li ul {
        padding-bottom: 0;
    }


.main-nav a {
    display:block;
    color:#FFF;
    text-decoration:none;
}

}


  @media only screen and (min-width : 600px) and (max-width : 675px) {
      #line {
          height: 10650px;
      }
  }

  @media only screen and (min-width : 675px) and (max-width : 770px) {
    #line {
        height: 10000px;
    }
}

@media only screen and (min-width : 770px) and (max-width : 875px) {
    #line {
        height: 9500px;
    }
}

@media only screen and (min-width : 875px) and (max-width : 950px) {
    #line {
        height: 9000px;
    }
}


    @media screen and (min-width: 780px) {
    .h1-shape-left, .h1-shape-right {
        display: none;
    }


    .summary-end {
        margin-top: 5rem;
        width: 50%;
        margin-left: 25%;
        background-color: #F8F8F8;
        height: auto;
        position: relative;
        display: inline-block;
        float: left;
        z-index: 1;
}

  @media screen and (min-width: 1000px) {
    #summary {
        width: 50%;
    }
  }
