* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body {
    font-family: Montserrat, Helvetica, Arial, sans-serif;
  }
  
  .navbar {
    position: relative;
    font-size: 1.8rem;
    background-image: transparent;
    border: none;
    height: 10vh;
    }
  
  .main-nav {
 
    list-style-type: none;
    display: none;
    background-color: #000;
  }
  
  .nav-links,
  .logo {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
  }
  
  .main-nav li {
    text-align: center;
    margin: 0 auto;
    padding-top:2rem;
  }
  
  .logo {
    display: inline-block;
    margin-top: 1rem;
    margin-left: 2rem;
    height: 50px;
    width: 64px;
  }
  
  .navbar-toggle {
    position: absolute;
    top: 2.5rem;
    right: 2rem;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
    font-size: 24px;
  }

  i:hover {
      color: white;
      transition: 0.4s;
  }
  
  #chkToggle {
    display: none;
  }
  
  #chkToggle:checked + ul.main-nav {
    display: block;
  }
  
  @media screen and (min-width: 2268px) {
    .navbar {
      display: flex;
      justify-content: space-between;
      padding-bottom: 0;
      height: 7rem;
      align-items: center;
    }
  
    #chkToggle:checked + ul.main-nav {
      display: flex;
    }
  
    .main-nav {
      display: flex;
      margin-right: 3rem;
      flex-direction: row;
      justify-content: flex-end;
    }
  
    .main-nav li {
      margin: 0;
    }
  
    .nav-links {
      margin-left: 4rem;
    }
  
    .logo {
      margin-top: 0;
    }
  
    .navbar-toggle {
      display: none;
    }
  
    .logo:hover,
    .nav-links:hover {
      color: rgba(255, 255, 255, 1);
    }
  }