@import url("/css/stars.css");

* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    background-color: black;
}


.container {
    background-color: transparent;
    margin: 0 auto;
    width: 100%;
    height: auto;
    overflow: hidden;
}

p {
    font-size: 1.6rem;
    margin-top: .5rem;
    font-family: Montserrat;
}

h1 {
    font-size: 4.2rem;
    font-family: Montserrat;
}

h3 {
    font-size: 2.7rem;
    font-family: Montserrat;
}

.hero {
    width: 100%; 
}

.cs-text {
    float: left;
    text-shadow: 2px 2px 5px #3f3f3f;
    margin-top: 15rem;
}

.btn {
        text-shadow: none;
    }    

section {
    /*background-color: orange;*/
    color: #fff;
    height: 100vh;
    width: 90%; 
    margin: 0 auto;
}

          /* Arrow Down */

.hero a.scroll {
    position: absolute;
    bottom: 20px;
    left: 50%;
}

#arrow1 a.scroll {
    padding-top: 70px;
}

#arrow1 a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb05 1.5s infinite;
    animation: sdb05 2s infinite;
    box-sizing: border-box;
}

.earth img {
    width: 30rem;
    position: relative;
    float: right;
    right: 15rem;
    top: 30%;
    transition: 1s cubic-bezier(0.32, -0.37, 0.07, 0.99);
}

.earth img {
    animation: 55s ease-out 0s 1 slideInFromLeft;
}

@keyframes slideInFromLeft {
    0% {
      transform: translateX(-50%);
    }
    100% {
      transform: translateX(0);
    }
  }


.waves img {
    width: 100%;
    height: 20%;
    position: absolute;
    bottom: 0;
    z-index: 1;
}


@-webkit-keyframes sdb05 {
    0% {
        -webkit-transform: rotate(-45deg) translate(0, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: rotate(-45deg) translate(-20px, 20px);
        opacity: 0;
    }
    }
    @keyframes sdb05 {
    0% {
        transform: rotate(-45deg) translate(0, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: rotate(-45deg) translate(-20px, 20px);
        opacity: 0;
    }
}

.cs-text h1 {
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 90px;
    color: #FFFFFF;
    text-align: left;
    width: 90%;
}

.home-about-me h1 {
    font-weight: 600;
}

.home-about-me h3 {
    color: #F3CE18;
}

.cs-text h3 {
    font-size: 23px;
    text-align: center;
}

.cs-text p {
    font-family: Montserrat;
    font-size: 23px;
    color: #FFFFFF;
    text-align: left;
    width: 90%;
}



.main-nav li ul {
    position: absolute; 
    display: none;
    left: 4rem;
    margin-top: 1rem;
}

.main-nav li ul a {
    color: black;
    text-align: left;
    padding: 10px;
}

.main-nav li ul li a:hover {
    color: #fff;
}

.main-nav li ul li {
	width:17rem;
	float:none;
	display:list-item;
	position: relative;
}

.main-nav li ul:hover > li {
    display:inherit;
}

.main-nav li {
	padding: 0;
    margin: 0;
	list-style: none;
    position: relative;
	}
	
.main-nav li:hover ul {
	display:inline-block;
	background-color: #F3CE18;
    }

.navbar li ul li {
    padding-top: 0px;
    }
    
.navbar li ul li:hover {
    background: black;
    color: rgb(0, 0, 0);
    border: 0.05px solid #F3CE18;
    transition: .5s;
}
    

.main-nav a {
	display:block;
	color:#FFF;
	text-decoration:none;
}




section.hero {
    text-align: left;
    margin: 0 auto;
}

/* About & Mail */

a:-webkit-any-link {
    cursor: pointer;
    text-shadow: none;
}    

a {
    text-decoration: none;
    color: inherit;
    letter-spacing: 1.5px;
    font-size: 1.2rem;
    color: #fff;
    opacity: .8;
}


.nav-about {
    left: 2rem;
}

.left {
    z-index: 1000001;
    position: fixed;
    -webkit-transform: rotateZ(-90deg) translateX(-50%);
    transform: rotateZ(-90deg) translateX(-50%);
    -webkit-transform-origin: 0 50%;
    -ms-transform-origin: 0 50%;
    transform-origin: 0 50%;
    top: 50%;
}

.nav-mail {
    right: 2rem; 
}

.right {
    z-index: 1000001;
    position: fixed;
    -webkit-transform: rotateZ(-90deg) translateX(50%);
    -ms-transform-origin: 100% 50%;
    -webkit-transform-origin: 100% 50%;
    transform: rotateZ(-90deg) translateX(50%);
    transform-origin: 100% 50%;
    top: 50%;
}

.nav-about a {
    left: 2rem;
}

a:hover  {
    opacity: 1;
    -webkit-transition: opacity .7s;
    transition: opacity .7s;
} 

.btn {
    opacity: 1;
}

.btn:hover {
    border: 1px solid gray;
}

/*
#topname {
    text-align: center;
}
*/

.back .waves {
    width: 100vh;
    margin-top: 0 auto;
    padding-top: 0;
    position: absolute;
}


.home-about-me {
    height: 90vh;
    padding: 25rem 0rem;
}

section.hero p {
    line-height: 1.8rem;
}

section.hero h3 {
    padding-top: 5px;
}

section.casestudy1, .casestudy2, .casestudy3 {
    border-radius: 1rem;
    background-image: linear-gradient(-135deg, rgba(0, 0, 0, 0.13) 90%, rgba(134,125,125,0.13) 100%);
box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
}


/************Footer Social*************/

.footer-logo {
    width: 60px;
    padding-bottom: 2rem;
    cursor: pointer;
}

section.footer {
    height: 20rem;
    width: 100%;
    padding: 0;
    text-align: center;
}

.social {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 4rem;
}
.social ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

.social ul li {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: #000000;
}


.social ul li a{
    color: #fff;
    font-size: 25px;
    display: block;
}

.social ul li a i {
    line-height: 50px;
}

div.btn {
    margin-left: 7.5px;
}

.home-about-me {
    width: 80%;
    margin: 0 auto;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 36.5vh;
}

#cs1 { 
    background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url('/img/hyve.png') no-repeat center center fixed;
}

#cs2 { 
    background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url('/img/BusyBus.png') no-repeat center center fixed;
}

#cs3 { 
    background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url('/img/GameZ.png') no-repeat center center fixed;
}

#cs1:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url('/img/hyve.png') no-repeat center center fixed;
}

#cs2:hover {
    background: linear-gradient(rgba(5, 1, 1, 0.25), rgba(0, 0, 0, 0.25)), url('/img/BusyBus.png') no-repeat center center fixed;
}
#cs3:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url('/img/GameZ.png') no-repeat center center fixed;
}

.shade {
    background: radial-gradient(#9f9f9f3a, #8687912c);
}

#cs3 {
    margin-bottom: 5vh;
}

/****************Slider****************

#cs1 {
    width: 100vh;
    height: 80vh;
}

#cs1 .slides {
    display: block;
    width: 600rem;
    height: 40rem;
    overflow: hidden;
}

#cs1 .slide {
  float: left;
  list-style-type: none;
  width: 100vh;
  height: 80rem;
}

*/


.main {
    float: left;
  }
  
.btn {
    display: inline-block;
    text-transform: uppercase;
    font-size: 2.4rem;
    border: 1px solid transparent;
    padding: 0.5em 2em;
    background: #fff;
    color: #000;
    border-radius: .3em;
    box-shadow: 0px 15px 20px -10px rgba(0,0,0,.5);
    cursor: pointer;
    transition: all 300ms ease-in-out;
    &:hover {
        box-shadow: 0px 20px 10px -10px rgba(0,0,0,.2);
        transform: scale(1.2) translate(0, -5px);
}
}



.slide1 {
  background-image: url(/img/hyve.png);
}

.slide2 {
    background-image: url(/img/hyve.png);
}

.slide3 {
    background-image: url(/img/hyve.png);
}

.slide4 {
    background-image: url(/img/hyve.png);
}

.slide5 {
    background-image: url(/img/hyve.png);
}

@media screen and (max-width: 799px) {

a {
    font-size: 1.8rem;
  }
}

@media only screen and (min-width : 150px) and (max-width : 780px) {

    .main-nav li ul {
        position: relative; 
        display: none;
        left: 0rem;
        top: 1rem;
        display:block;
        width: 23rem;
        margin: 0 auto;
        background-color: #F3CE18;
    }
    
    .main-nav li ul a {
        color: black;
        text-align: left;
        padding: 10px;
    }
    
    .main-nav li ul li a:hover {
        color: #fff;
    }
    
    .main-nav li ul li {
        width:23rem;
        float:none;
        display:list-item;
        position: relative;
    }

    .main-nav li ul:hover > li {
        display:inherit;
    }
    
    .main-nav li {
        padding: 0;
        margin: 0;
        list-style: none;
        position: relative;
        }
        
    .main-nav li:hover ul {
        display:block;
        width: 23rem;
        margin: 0 auto;
        background-color: #F3CE18;
        }
    
    .navbar li ul li {
        padding-top: 0px;
        }
        
    .navbar li ul li:hover {
        background: black;
        color: rgb(0, 0, 0);
        border: 0.05px solid #F3CE18;
        transition: .5s;
    }
        
    
    .main-nav a {
        display:block;
        color:#FFF;
        text-decoration:none;
    }

    #cs1 { 
        background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url('/img/hyve.png') no-repeat center center;
    }
    
    #cs2 { 
        background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url('/img/BusyBus.png') no-repeat center center;
    }
    
    #cs3 { 
        background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url('/img/code.png') no-repeat center center;
    }

    #cs1:hover {
        background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url('/img/hyve.png') no-repeat center center;
    }
    
    #cs2:hover {
        background: linear-gradient(rgba(5, 1, 1, 0.25), rgba(0, 0, 0, 0.25)), url('/img/BusyBus.png') no-repeat center center;
    }
    #cs3:hover {
        background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url('/img/code.png') no-repeat center center;
    }

    .earth img {
        animation: none;
    }
}



@media screen and (min-width: 368px) {
    section {
       /* background-color: teal;*/
    }

.myname, .designer, .mybackground {
    text-align: center;
    display: block;
}

.cs-text h1 {
    font-size: 65px;
    font-size: calc(4rem + 3vmax);
}
      
.myname {
    border-bottom: 1px solid #fff;
    padding-bottom: 1rem;
}

.comtainer {
    overflow: hidden;
}

.designer:hover {
    text-shadow: 0 0 1px rgb(230, 192, 3), 0 0 2px rgb(230, 192, 3), 0 0 3px rgb(230, 192, 3), 0 0 4px rgb(250, 221, 79), 0 0 5px rgb(250, 221, 79), 0 0 6px rgb(250, 221, 79), 0 0 7px rgb(250, 221, 79), 0 0 8px rgb(250, 221, 79);
    transition: .5s;
    opacity: 0.8;
    color: black;
}

span {
    display: none;
}

.designer {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #fff;
}

h1, h3, p {
    text-align: center;
    padding: 7.5px;
    width: 100%;
}

.casestudy1, .casestudy2, .casestudy3 {
    height: 60vh;
    margin-top: 5vh;
    width: 85%;
}

.cs-text {
    margin-top: 4.5rem;
}

#cs1, #cs2, #cs3 {
    width: 65%;
    max-width: 800px;
    height: 51vh;
}

.social ul li a i {
    font-size: 25px;
    line-height: 25px;
}

.social {
    width: 100%;
    height: auto;
    margin: 0 auto;
    margin-top: 20px;
    padding: 3rem;
    }
.social ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

.social ul li {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0 0.5rem;
    background: rgba(0, 0, 0, 0);
    border: 1px solid rgb(134, 134, 134);
}

.social ul li a{
    color: rgb(32, 32, 32);
    font-size: 20px;
    display: block;
}
        
.social ul li a i {
    line-height: 40px;
    margin-left: 0.2rem;
    color: #ffffff;
}

}

@media screen and (max-width: 500px) {

    .cs-text {
        margin-left: -15%;
    }

    .btn {
        width: calc(26rem + 1.2vmax);
    }
    
}

@media screen and (max-width: 800px) {

    .earth img {
        position: absolute;
        left: 50%;
        top: 30%;
        transform: translate(-50%, -50%);
        width: 20rem;
    }
}

@media screen and (max-width: 700px) { 
    .waves img {
        width: 100%;
        height: 8rem;
        position: absolute;
        bottom: 0;
    }
}

@media screen and (min-width: 500px) {
    section {
       /* background-color: red;*/
    }
    h1, h3, p {
        text-align: center;
        padding: 7.5px;
        width: 100%;
    }

    .home-about-me {
        width: 75%;
    }
    .casestudy1, .casestudy2, .casestudy3 {
        height: 60vh;
    }

    .cs-text {
        margin-top: 8rem;
        margin-left: -15%;
    }

    #cs1, #cs2, #cs3 {
        width: 65%;
        height: 63vh;
    }
}

@media screen and (min-width: 780px) {
    section {
       /* background-color: purple;*/
    }

.myname, .designer, .mybackground {
    border: none;
    padding: 0;
    text-align: left;
}

span {
    display: initial;
}

    h1, h3, p {
        width: 100%;
    }

    div.cs-text {
        float: left;
    }

    #cs1, #cs2, #cs3 {
        height: 70vh;
        width: 65%;
    }

    .myname, .designer {
        padding-bottom: 0.5rem;
    }

    .cs-text {
        margin-top: 10rem;
    }

}

@media screen and (min-width: 1000px) {

    h1, h3, p {
        width: 100%;
    }

.cs-text p {
    text-align: left;
}

    div.cs-text {
        float: left;
    }

      #cs1 .slides {
        display: block;
        width: 6000px;
        height: 400px;
        margin: 0;
        padding: 0;
      }
      
      #cs1 .slide {
        float: left;
        list-style-type: none;
        width: 100vh;
        height: 800px;
      }

      .cs-text {
        margin-top: 13rem;
        margin-left: -10%;
    }

    #cs1, #cs2, #cs3 {
        width: 70%;
        height: 79vh;
    }

    .myname, .designer {
        padding-bottom: 0.5rem;
    }

}